<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WJCircleTableView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0D2CF0721F34553800A9F88C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D2CF08B1F34553800A9F88C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D2CF0961F34553800A9F88C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
